@font-face {
    font-family: 'Bad Signal';
    src: url('fuente/badsignal.otf') format('opentype');
  }

  #cuerpo {
    background-image: url('img/bg.jpg');
    background-size: cover;
  }


  #titulo {
    font-family: 'Bad Signal', sans-serif;
    font-size: 80px;
    color: #1ea811; 
  }

  #header {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .parrafo {
    text-align: center;
    font-size: 20px;
    font-family: 'Space Mono', monospace;
    color: white;
  }

  #productos {
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
  }

  #producto {
    width: 40vh;
    height: 70%;
    border-radius: 10px;
    background-color: #075300;
    padding: 0;
  }

  #producto:hover {
    box-shadow: rgba(255, 255, 255, 0.35) 5px 10px 20px, rgba(255, 255, 255, 0.35) 0px 6px 6px;
  }

  #imagen {
    width: 100%;
    height: 75% ;
    background-color: white;
    border-radius: 10px 10px 0 0;

  }

  #imagen img {
    width: 100%;
    height: 100%;
  }

  #texto {
    height: 25% ;
  }

  .n_prod {
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: 'Space Mono', monospace;
    text-align: center;
    font-size: 20px;
    color: white;
  }

  .desc {
    font-family: 'Space Mono', monospace;
    text-align: center;
    font-size: 15px;
    color: white;
  }

  .desc_prec {
    font-family: 'Space Mono', monospace;
    text-align: center;
    font-size: 20px;
    color: white;
  }

 .enlace {
    text-decoration: none;
  }
  
#info {
    height: 90vh;
}
#pago {
    height: 90vh;
}

#plantilla-prod {
    padding: 15px;
}

.nombre_prod {
    color: white; 
    font-family: 'Space Mono', monospace;
    font-size: 40px;
    margin: 10vh 0 0 10vw;
    
}

#img_p {
    height: 50vh;
    width: 30vw;
    margin: 5vh 0 0 10vw;
    padding: 0;
}

#img_p img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.titulo3 {
    color: white; 
    font-family: 'Space Mono', monospace;
    font-size: 40px;
    margin: 10vh 0 5vh 5vw;
}